.vercel

# Sentry Config File
.env.sentry-build-plugin
# Opti backups / temp
*.bak
*.backup.*
*.bom.backup.json
*.bak.ts
*_backup.*
_backups/
kin.html
page.html
scripts/Test-Buy.ps1
app/test-buy/
middleware.backup.ts
package.backup.json
app/property/kin-001/page.tsx.bak
app/property/kin-001/route.bak.ts

# allow SSR Buy page
!src/app/buy/**

# allow Buy routes
!app/buy/**
!app/buy/**/*

